<form [formGroup]="form">

  <mat-form-field appearance="outline">
    <mat-label>Name</mat-label>
    <input matInput type="text" name="name"
      placeholder="Placeholder" formControlName="name">
  </mat-form-field>

 <mat-form-field appearance="outline">
   <mat-label>Email</mat-label>
  <input matInput type="email" name="email"
         placeholder="Email" formControlName="email">
</mat-form-field>

 <mat-form-field appearance="outline">
   <mat-label>Password</mat-label>
  <input matInput type="password" name="password"
         placeholder="" formControlName="password">
</mat-form-field>

<mat-form-field appearance="outline">
  <mat-label>Outline form field</mat-label>
  <input matInput placeholder="Placeholder">    
  <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
  <mat-hint>Hint</mat-hint>
</mat-form-field>  

<div class="button-row">
  <button mat-raised-button color="primary" [disabled]="!form.valid">
    Login
  </button>
  <button mat-raised-button color="primary">
    Login
  </button>    
</div>